/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

body {
    line-height: 1.25;
}

@media screen and (min-width: 640px) {
    body {
        font-size: 1.125rem;
    }
    code {
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    code {
        font-size: 0.875rem;
    }
}

p {
    code {
        background-color: #dbdbdb;
        padding: 0 0.25rem 0 0.25rem;
        border-radius: 0.25rem;
    }
}

// TODO: we should move this to a special "blog" layout
:where(h2, h3, h4, h5, h6) {
  .icon-link {
    position: relative;

    &::before {
      content: '#';
      position: absolute;
      left: -1.1ch;
      top: 0;
      line-height: 1;
      opacity: 0;
      color: black;
      text-decoration: underline;
    }
  }
  &:hover .icon-link::before {
    opacity: 1;
  }
}
