/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

:root {
    background-color: getColor(background);
    color: getColor(foreground);
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
}

@media screen and (min-width: 640px) {
    code {
        font-size: 1rem;
    }
}

@media screen and (max-width: 640px) {
    code {
        font-size: 0.875rem;
    }
}

p, ul {
    code {
        background-color: getColor(background-rich);
        color: getColor(foreground-rich);
        padding: 0 0.5rem 0 0.5rem;
        border-radius: 0.25rem;
    }
}

h1 {
    color: getColor(blue);
}

ul, ol {
    padding-left: 1rem;
}

a {
    text-underline-offset: 0.1rem;
    color: inherit;
}

img {
    max-height:100%;
    max-width:100%;
}

.hover-links {
  a {
    text-decoration: none;
    color: inherit;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: getColor(yellow);
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.25rem;
	}
}

.blog :where(h2, h3, h4, h5, h6) {
  .icon-link {
    position: relative;

    &::before {
      content: '#';
      position: absolute;
      left: -1.2ch;
      line-height: 1.3;
      top: 0;
      opacity: 0;
      color: getColor(green);
      text-decoration: underline;
    }
  }
  &:hover .icon-link::before {
    opacity: 1;
  }
}
