/* Variables and mixins declared here will be available in all other SCSS files */

// light mode
$background: #f5f5f5ff;
$foreground: #0c1618ff;
$red: #ed6a5aff;
$green: #33673bff;
$blue: #7d5ba6ff;
